<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="public/style.css">
    <title>Pokedex</title>
</head>
<body>

    <label for="pokemonName" id="labelPokemonName">Pokemon name or ID: </label>
    <input type="text" name="pokemonName" id="inputPokemonName">
    <button onclick="searchPokemon()" id="searchButton">Seach</button>

    <div class="pokedex">
        <div class="imgPokedex">
            <img id="imagePokemon" width="237" height="237">
        </div>
        <div class="status">
            <p id="name"></p>

            <div id="type"></div>

            <div class="info">
                <p id="valueHeight"></p>
                <p id="valueWeight"></p>
                <p id="height">Height (cm)</p>
                <p id="weight">Weight (kg)</p>
            </div>

            <!-- <div class="abilities">
                <p id="ability1"></p>
                <p id="ability2"></p>
            </div> -->

            <h2 style="color: white">Stats</h2>

            <div class="divHP">
                <p id="hp"></p>
                <div class="progressBar hp"></div>
            </div>

            <div class="divAttack">
                <p id="attack"></p>
                <div class="progressBar attack"></div>
            </div>
            
            <div class="divDefense">
                <p id="defense"></p>
                <div class="progressBar defense"></div>
            </div>

            <!-- <p id="specialAttack"></p>
            <div class="progressBar specialAttack"></div>

            <p id="specialDefense"></p>
            <div class="progressBar specialDefense"></div> -->

            <div class="divSpeed">
                <p id="speed"></p>
                <div class="progressBar speed"></div>
            </div>

        </div>
    </div>


    <script src="public/integracao.js"></script>
</body>
</html>